*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url(image/pexels-pixabay-261763.jpg);
  background-repeat: no-repeat;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #5a5353;
  padding-left: 3%;
  padding-right: 3%;
}

.logo a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
}

.nav-items li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.logo a:hover {
  color: #b99e9e;
}

.nav-items {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  border-right: 2px solid #252222;
  padding-right: 10px;
}

.contact p,
.contact ul li {
  font-size: x-large;
}

.nav-items li {
  padding-left: 10px;
}

.nav-items li a:hover {
  color: #b99e9e;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
}

#welcome {
  display: flex;
  width: 80%;
  flex-direction: column;
  text-align: center;
  border: 5px solid #fff;
}

.form h1 {
  font-family: cursive, "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: xx-large;
}

.contact h1 {
  text-align: center;
  font-family: cursive, 'Arial Narrow', Arial, sans-serif;
  font-size: xxx-large;
}

.contact p, ul li {
  font-family: Arial, Helvetica, sans-serif;
}

#welcome h1 {
  font-family: cursive, "Arial Narrow", Arial, sans-serif;
  align-self: center;
  font-size: xxx-large;
}

.foot p {
  color: #fff;
}

#welcome p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
}

.heading {
  display: none;
  text-align: center;
  font-family: cursive, "Arial Narrow", Arial, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}

.line {
  display: none;
  margin-top: 30px;
  width: 40%;
  border-radius: 50%;
  border: 1px solid #252222;
  background-color: #252222;
}

.library {
  display: none;
  border: 2px solid #000;
  width: 100%;
}

.list-container {
  width: 100%;
}

.book {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.book:nth-child(even) {
  background-color: #d3d3d3;
}

.form {
  display: none;
  flex-direction: column;
  width: 60%;
}

.input {
  margin-bottom: 10px;
  width: 100%;
  height: 5vh;
  padding-left: 10px;
  font-family: "Times New Roman", Times, serif;
}

.btn {
  margin: 10px auto;
  background-color: #ccc;
  width: 20%;
  height: 5vh;
  font-family: cursive, "Arial Narrow", Arial, sans-serif;
  border: none;
}

.btn:hover {
  background-color: #999;
  color: aliceblue;
  cursor: pointer;
}

.rmv-btn {
  height: 5vh;
  font-family: cursive, "Arial Narrow", Arial, sans-serif;
  border: none;
  align-self: center;
  margin-right: 2%;
}

.rmv-btn:hover {
  background-color: #d3d3d3;
}

.contact {
  display: none;
  flex-direction: column;
  align-items: center;
}

.foot {
  display: flex;
  align-items: center;
  background-color: #5a5353;
  padding-left: 3%;
  font-family: cursive, 'Arial Narrow', Arial, sans-serif;
  height: 10vh;
}
